/* -----------------------------------НАЧАЛО HEADER -------------------------*/
.header {
  padding: 92px 50px 96px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  font-size: 18px;
  font-weight: normal;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header__links-list-item {
  text-underline-offset: 4px;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
  padding-left: 0;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
}

.header__address {
  max-width: 240px;
  justify-self: end;
  align-items: flex-start;
  line-height: 24px;
}
.header__address a {
  text-underline-offset: 4px;
}
/*---------------------------------- КОНЕЦ HEADER -----------------------------*/

/*----------------------------------- СЕКЦИЯ COVER------------------------------ */
.cover {
  padding: 165px 50px 0;
  margin-bottom: 180px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  min-height: 757px;
  background-position: center;
  position: relative;
  z-index: -2;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.6);
  z-index: -1;
}

.cover__title {
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 106px;
}

.aligned-text {
  display: block;
  line-height: 1.15;
  letter-spacing: 30px;
  font-size: 100px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.aligned-text_left {
  text-align: start;
  word-spacing: 45px;
}

.aligned-text_center {
  text-align: center;
  line-height: 1.55;
  margin-left: 20px;
}

.aligned-text_right {
  text-align: end;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
  line-height: 28px;
  word-spacing: 20px;
}

.bet-button {
  padding: 12px 32px 11px 31px;
  font-size: 22px;
  font-weight: normal;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #fff;
  background-color: transparent;
}
/* -----------------------------------КОНЕЦ СЕКЦИИ COVER ------------------------*/
/* -----------------------------------НАЧАЛО СЕКЦИИ LOTS ------------------------*/
.lots {
  margin: 0 24px 120px;
}

.heading {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.lots__heading {
  margin-left: 40px;
  margin-bottom: 27px;
}

.lots__card-list {
  list-style: none;
  display: flex;
  gap:25px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 48px 40px;
  background-size: cover;
  background-position: center;
  color: #fff;
  position: relative;
  z-index: -2;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
}

.card__text {
  font-size: 20px;
  font-weight: normal;
  line-height: 1.2;
}

.lots__look-more-link {
  font-size: 20px;
  font-weight: normal;
  line-height: 1.5;
  margin-left: 40px;
  text-underline-offset: 4px;
  cursor: pointer;
}
/* -----------------------------------КОНЕЦ СЕКЦИИ LOTS --------------------------*/

/* -----------------------------------НАЧАЛО СЕКЦИИ ABOUT------------------------- */
.about {
  margin: 0 24px 180px;
  display: grid;
  grid-template-columns: 334px 1fr;
  column-gap: 25px;
  justify-items: center;
}

.about__logo {
  width: 240px;
  height: 240px;
  margin-top: 35px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.about__logo-image {
  width: 142px;
  height: 113px;
}

.about__title {
  margin-top: 136px;
  margin-bottom: 100px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  font-weight: normal;
  line-height: 24px;
}
/* ----------------------------------КОНЕЦ СЕКЦИИ ABOUT --------------------------------------*/

/* ------------------------------------FOOTER ------------------------------------------------*/

.footer {
  font-size: 18px;
  font-weight: normal;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 50px 82px;
}

.footer__address {
  text-underline-offset: 4px;
  line-height: 24px;
}


.footer__menu-list {
  list-style-type: none;
  padding-left: 0;
  justify-self: center;
  text-align: center;
  line-height: 21px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  justify-content: flex-end;
  gap: 48px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}